<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IsFinalTestBundle</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>ReportPortalAgent.RPListener</string>
	<key>PushTestDataToReportPortal</key>
	<true/>
	<key>ReportPortalLaunchName</key>
	<string>kintone-ios-sdk-test</string>
	<key>ReportPortalProjectName</key>
	<string>kintone-ios-sdk</string>
	<key>ReportPortalToken</key>
	<string>c7757be7-4898-4fd4-8fee-7508008a53c5</string>
	<key>ReportPortalURL</key>
	<string>http://test-report-portal.dev.cybozu.xyz:8080/api/v1</string>
</dict>
</plist>
